In [1]:
import pandas as pd

# Read the titanic.csv file
titanic_df = pd.read_csv('titanic.csv')

# Print the shape of the DataFrame
print("Shape of the DataFrame:", titanic_df.shape)

# Print the first 5 rows of the DataFrame
print(titanic_df.head())

Shape of the DataFrame: (891, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## Print the Columns of the Dataframe

In [6]:
print(titanic_df.columns)

# print the null values in the DataFrame
print(titanic_df.isnull().sum())

# replace the age column with the mean of the age
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())

# replace the Cabin column with the most frequent value
titanic_df['Cabin'] = titanic_df['Cabin'].fillna(titanic_df['Cabin'].mode()[0])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64